Repository estromenko/dvhub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Implement pull request creation form
  frontend/components/CreatePullRequestModal/index.tsx
  frontend/components/CreatePullRequestModal/styles.scss
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

Fix useEffect dependencies in pulls page
  frontend/pages/pulls/index.tsx
Due: eslint --fix, prettier --write

Add curly rule for eslint
  .eslintrc.cjs
Due: none

Implement pull request page
  apps/api/models.py
  apps/api/serializers.py
  frontend/api/models.ts
  frontend/components/PullRequestsList/index.tsx
  frontend/components/PullRequestsList/styles.scss
  frontend/index.tsx
  frontend/pages/pullRequest/index.tsx
  frontend/pages/pullRequest/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Fix error with failed requests
  frontend/index.tsx
  frontend/pages/main/index.tsx
  frontend/store/index.ts
Due: eslint --fix, prettier --write

Add useFetch hook
  frontend/hooks/useFetch.ts
  frontend/pages/main/index.tsx
  frontend/pages/pullRequest/index.tsx
  frontend/pages/repository/index.tsx
  frontend/pages/repository/pulls/index.tsx
Due: eslint --fix, prettier --write

Fix submit button alignment
  frontend/pages/auth/index.tsx
  frontend/pages/auth/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Fix pull requests list repository link
  frontend/components/PullRequestsList/index.tsx
Due: eslint --fix, prettier --write

Fix issue models
  apps/api/migrations/0009_auto_20221116_1528.py
  apps/api/models.py
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
Due: none

Recreate migrations
  apps/api/migrations/0001_initial.py
  apps/api/migrations/0002_auto_20221111_1042.py
  apps/api/migrations/0003_branch_issue_issuecomment_pullrequest_pullrequestcomment.py
  apps/api/migrations/0004_branch_name.py
  apps/api/migrations/0005_auto_20221112_1246.py
  apps/api/migrations/0006_pullrequest_status.py
  apps/api/migrations/0007_auto_20221113_0856.py
  apps/api/migrations/0008_auto_20221113_1348.py
  apps/api/migrations/0009_auto_20221116_1528.py
Due: none

Add vulnerable filtration for user pull requests view
  apps/api/views.py
Due: none

Remove unused import
  apps/api/views.py
Due: none

Rework repositories
  .gitignore
  apps/api/admin.py
  apps/api/migrations/0001_initial.py
  apps/api/migrations/0002_alter_pullrequest_status.py
  apps/api/models.py
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
  apps/permissions.py
  apps/repositories/__init__.py
  apps/repositories/admin.py
  apps/repositories/apps.py
  apps/repositories/migrations/0001_initial.py
  apps/repositories/migrations/__init__.py
  apps/repositories/models.py
  apps/repositories/serializers.py
  apps/repositories/services.py
  apps/repositories/urls.py
  apps/repositories/utils.py
  apps/repositories/views.py
  conf/docker.py
  conf/settings.py
  conf/urls.py
  frontend/api/models.ts
  frontend/components/CreatePullRequestModal/index.tsx
  frontend/components/CreatePullRequestModal/styles.scss
  frontend/pages/main/index.tsx
  frontend/pages/pullRequest/index.tsx
  frontend/pages/repository/code/index.tsx
  frontend/pages/repository/code/styles.scss
  frontend/pages/repository/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Move auth into separated app
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
  apps/authentication/__init__.py
  apps/authentication/apps.py
  apps/authentication/serializers.py
  apps/authentication/urls.py
  apps/authentication/views.py
  apps/repositories/serializers.py
  conf/settings.py
  conf/urls.py
  frontend/pages/auth/index.tsx
  frontend/store/index.ts
  frontend/utils/auth.ts
Due: eslint --fix, prettier --write

Implement pull request comments
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
  frontend/pages/pullRequest/index.tsx
Due: eslint --fix, prettier --write

Implement pull request merging
  apps/api/views.py
  frontend/pages/pullRequest/index.tsx
  frontend/pages/pullRequest/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Implement registration
  apps/authentication/serializers.py
  apps/authentication/urls.py
  apps/authentication/views.py
  frontend/pages/auth/index.tsx
Due: eslint --fix, prettier --write

Implement issues
  apps/api/models.py
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
  frontend/api/models.ts
  frontend/components/CreateIssueModal/index.tsx
  frontend/components/CreateIssueModal/styles.scss
  frontend/components/IssuesList/index.tsx
  frontend/components/IssuesList/styles.scss
  frontend/index.tsx
  frontend/pages/issue/index.tsx
  frontend/pages/issue/styles.scss
  frontend/pages/issues/index.tsx
  frontend/pages/issues/styles.scss
  frontend/pages/repository/index.tsx
  frontend/pages/repository/issues/index.tsx
  frontend/pages/repository/issues/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Implement profile
  frontend/api/models.ts
  frontend/assets/profile.svg
  frontend/components/Header/index.tsx
  frontend/components/Header/styles.scss
  frontend/index.tsx
  frontend/pages/profile/index.tsx
  frontend/pages/profile/styles.scss
  frontend/types/index.d.ts
Due: eslint --fix, stylelint --fix, prettier --write

Fix access for unauthorized users in pages
  frontend/pages/profile/index.tsx
  frontend/pages/pulls/index.tsx
Due: eslint --fix, prettier --write

Implement repositories page
  frontend/index.tsx
  frontend/pages/repositories/index.tsx
  frontend/pages/repositories/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Implement clone
  apps/repositories/urls.py
  apps/repositories/views.py
Due: none

Implement ssh keys
  apps/api/admin.py
  apps/api/migrations/0003_sshkey.py
  apps/api/models.py
  apps/api/serializers.py
  apps/api/urls.py
  apps/api/views.py
  apps/permissions.py
  frontend/api/models.ts
  frontend/components/CreateSSHKeyModal/index.tsx
  frontend/components/CreateSSHKeyModal/styles.scss
  frontend/components/SSHKeysList/index.tsx
  frontend/components/SSHKeysList/styles.scss
  frontend/pages/profile/index.tsx
  frontend/pages/profile/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Add landing and logo
  frontend/assets/logo.png
  frontend/components/Header/index.tsx
  frontend/components/Header/styles.scss
  frontend/components/Landing/index.tsx
  frontend/components/Landing/styles.scss
  frontend/pages/main/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Implement repository creation
  apps/api/models.py
  frontend/components/CreateRepositoryModal/index.tsx
  frontend/components/CreateRepositoryModal/styles.scss
  frontend/pages/main/index.tsx
  frontend/pages/main/styles.scss
  frontend/pages/repositories/index.tsx
  frontend/pages/repositories/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Move repeated creation button into separate component
  frontend/components/CreateTheFirstOneButton/index.tsx
  frontend/components/CreateTheFirstOneButton/styles.scss
  frontend/components/SSHKeysList/index.tsx
  frontend/components/SSHKeysList/styles.scss
  frontend/pages/main/index.tsx
  frontend/pages/main/styles.scss
  frontend/pages/repositories/index.tsx
  frontend/pages/repositories/styles.scss
  frontend/pages/repository/issues/index.tsx
  frontend/pages/repository/issues/styles.scss
  frontend/pages/repository/pulls/index.tsx
  frontend/pages/repository/pulls/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Implement repository removing
  apps/repositories/apps.py
  apps/repositories/receivers.py
  apps/repositories/services.py
  frontend/components/RemoveButton/index.tsx
  frontend/components/RemoveButton/styles.scss
  frontend/hooks/useFetch.ts
  frontend/pages/repository/index.tsx
  frontend/pages/repository/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Fix pulls ans issues pages when there are no entries
  frontend/pages/issues/index.tsx
  frontend/pages/pulls/index.tsx
  frontend/pages/pulls/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Restrict access to actions in repository for non-owner user
  frontend/pages/repository/index.tsx
Due: eslint --fix, prettier --write

Add missing dependencies to requirements.txt
  requirements.txt
Due: none

Add STATIC_ROOT variable to settings
  conf/settings.py
Due: none

Implement repository cloning
  frontend/components/Dropdown/index.tsx
  frontend/components/Dropdown/styles.scss
  frontend/pages/repository/index.tsx
  frontend/pages/repository/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Dockerize app
  .dockerignore
  docker/Dockerfile
  docker/config/default.conf
  docker/config/uwsgi.ini
  docker/config/uwsgi_params
  docker/docker-compose.yml
  docker/docker-entrypoint.sh
Due: none

Fix repository creation and cloning inside container
  apps/repositories/services.py
  conf/docker.py
  docker/config/default.conf
  docker/docker-compose.yml
  docker/docker-entrypoint.sh
Due: none

Add vulnerable filters
  frontend/pages/pulls/index.tsx
  frontend/pages/pulls/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

Fill README.md
  README.md
Due: none

Add creating database to README.md
  README.md
Due: none

Fix issue with expiring tokens
  frontend/pages/auth/index.tsx
  frontend/utils/auth.ts
Due: eslint --fix, prettier --write

Add csrf protection to views
  apps/api/views.py
  frontend/utils/api.ts
Due: eslint --fix, prettier --write

Fix shadows size
  frontend/global.css
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,html,css,scss}
