Repository estromenko/dvhub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Rework auth form
  frontend/components/AuthForm/index.tsx
  frontend/components/AuthForm/styles.scss
  frontend/components/Header/index.tsx
  frontend/components/Header/styles.scss
  frontend/index.tsx
  frontend/pages/auth/index.tsx
  frontend/pages/auth/login/index.tsx
  frontend/pages/auth/registration/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Add github actions workflow
  .github/workflows/linters.yml
Due: none

Add missing prettier config
  .prettierignore
  .prettierrc.json
Due: prettier --write

Add missing scripts to package.json
  package.json
Due: prettier --write

Run prettier through all files
  .eslintrc.cjs
  .stylelintrc.json
  README.md
  apps/main/templates/main/index.html
  frontend/components/CreateIssueModal/index.tsx
  frontend/components/CreatePullRequestModal/index.tsx
  frontend/components/CreateRepositoryModal/index.tsx
  frontend/components/CreateTheFirstOneButton/index.tsx
  frontend/components/CreationButton/index.tsx
  frontend/components/CustomModal/index.tsx
  frontend/components/Dropdown/index.tsx
  frontend/components/Header/index.tsx
  frontend/components/Landing/index.tsx
  frontend/components/PullRequestsList/index.tsx
  frontend/components/SubmitButton/index.tsx
  frontend/pages/auth/login/index.tsx
  frontend/pages/auth/registration/index.tsx
  frontend/pages/issue/index.tsx
  frontend/pages/issues/index.tsx
  frontend/pages/main/index.tsx
  frontend/pages/pullRequest/index.tsx
  frontend/pages/pulls/index.tsx
  frontend/pages/repositories/index.tsx
  frontend/pages/repository/index.tsx
  frontend/pages/repository/issues/index.tsx
  frontend/pages/repository/pulls/index.tsx
  frontend/utils/api.ts
Due: eslint --fix, prettier --write

Update development requirements
  requirements-dev.txt
Due: none

Add env variables to workflow
  .github/workflows/linters.yml
Due: none

Add missing configs and plugins for pylint and mypy
  .github/workflows/linters.yml
  mypy.ini
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,html,css,scss}
